{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <main id="main">

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Education &amp; Experience</h2>
                </div>


                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>M.S. Information Systems &amp; Technologies (with honors)</h4>
                            <h5>2020</h5>
                            <p><em>Ural Federal University, Yekaterinburg</em></p>
                            <p>Final qualifying work: “Development of a heterogeneous data intellectual analysis based
                                on knowledge engineering methods”.</p>
                        </div>

                        <div class="resume-item">
                            <h4>B.S. Philosophy</h4>
                            <h5>2018</h5>
                            <p><em>Ural Federal University, Yekaterinburg</em></p>
                            <p>Final qualifying work: “Knowledge representation: logical and methodological aspects”</p>
                        </div>

                        <h3 class="resume-title">Teaching &amp; Supervising</h3>

                        <div class="resume-item">
                            <h4>Lecturer</h4>
                            <h5>2021</h5>
                            <p><em>Ural Federal University, Yekaterinburg</em></p>
                            <p>Deep Learning course lecturer</p>
                        </div>

                        <div class="resume-item">
                            <h4>Lecturer</h4>
                            <h5>2020</h5>
                            <p><em>University 20.35, Moscow</em></p>
                            <p><em>Ural Federal University, Yekaterinburg</em></p>
                            <p>
                                <a href="https://steps.2035.university/collections/2378d38e-755c-4c66-8338-7d19dd8cedbf?utm_source=newsletter&utm_medium=mail&utm_campaign=navigator_universiteta_20_35_20_02_05_marta_2021&bx_sender_conversion_id=20417114">Artificial
                                    Intelligence and Machine Learning online course lecturer
                                </a>
                            </p>
                        </div>

                        <div class="resume-item">
                            <h4>Assistant</h4>
                            <h5>2017-2018, 2020 - present</h5>
                            <p><em>Ural Federal University, Yekaterinburg</em></p>
                            <p>Student Projects Supervisor (knowledge representation, machine learning, chat-bots)</p>
                            <p>Member of group designing tools for digital education and individual education plans</p>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Data Scientist</h4>
                            <h5>2021 - now</h5>
                            <p><em>Information Technologies Center, Yekaterinburg</em></p>
                            <p>
                            <ul>
                                <li>Work with Big Data</li>
                                <li>Develop predictive models for the analysis of financial indicators</li>
                            </ul>
                            </p>
                        </div>
                        <div class="resume-item">

                            <h4>Chat-bots & Machine Learning Developer</h4>
                            <h5>2018 - 2020</h5>
                            <p><em>JetStyle Digital Agency, Yekaterinburg</em></p>
                            <p>
                            <ul>
                                <li>Developed chat-bots for commercial companies</li>
                                <li>Developed decision support systems</li>
                                <li>Developed web-services (websites, API)</li>
                            </ul>
                            </p>
                        </div>

                        <div class="resume-item">
                            <h4>Software Developer</h4>
                            <h5>2017 - 2018</h5>
                            <p><em>Lider Company Group, Yekaterinburg</em></p>
                            <p>
                            <ul>
                                <li>Developed chat-bots</li>
                                <li>Developed business process automation systems</li>
                            </ul>
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->

        <!-- ======= Skills Section ======= -->
        <!--    <section id="skills" class="skills">-->
        <!--      <div class="container" data-aos="fade-up">-->

        <!--        <div class="section-title">-->
        <!--          <h2>Skills</h2>-->
        <!--        </div>-->

        <!--        <div class="row skills-content">-->

        <!--          <div class="col-lg-6">-->

        <!--            <div class="progress">-->
        <!--              <span class="skill">Python <i class="val">70%</i></span>-->
        <!--              <div class="progress-bar-wrap">-->
        <!--                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--            <div class="progress">-->
        <!--              <span class="skill">CSS <i class="val">90%</i></span>-->
        <!--              <div class="progress-bar-wrap">-->
        <!--                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--            <div class="progress">-->
        <!--              <span class="skill">JavaScript <i class="val">75%</i></span>-->
        <!--              <div class="progress-bar-wrap">-->
        <!--                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--          </div>-->

        <!--          <div class="col-lg-6">-->

        <!--            <div class="progress">-->
        <!--              <span class="skill">PHP <i class="val">80%</i></span>-->
        <!--              <div class="progress-bar-wrap">-->
        <!--                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--            <div class="progress">-->
        <!--              <span class="skill">WordPress/CMS <i class="val">90%</i></span>-->
        <!--              <div class="progress-bar-wrap">-->
        <!--                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--            <div class="progress">-->
        <!--              <span class="skill">Photoshop <i class="val">55%</i></span>-->
        <!--              <div class="progress-bar-wrap">-->
        <!--                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--          </div>-->

        <!--        </div>-->

        <!--      </div>-->
        <!--    </section>&lt;!&ndash; End Skills Section &ndash;&gt;-->

    </main><!-- End #main -->
{% endblock %}