{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Research</h2>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <h3 class="resume-title">Grants</h3>
                    <div class="resume-item pb-0">
                        <h4>Development of Russian-language Medical Classifiers in the Open Ontology Format</h4>
                        <h5>2020</h5>
                        <h6><b>Winner</b></h6>
                        <p>«Open Data Grants» Contest, Infoculture, Moscow, Russia</p>
                    </div>

                    <h3 class="resume-title">Contests</h3>
                    <div class="resume-item">
                        <h4>Development of Reproductive Dysfunction Ontology for a Medical Decision Support System</h4>
                        <h5>2020</h5>
                        <h6><b>Qualifying Finalist</b></h6>
                        <p>International Youth Competition for Innovative Projects and Startups «Future's Potential», Moscow State University, Moscow, Russia</p>
                    </div>

                    <div class="resume-item">
                        <h4>Educational Platform for Teaching Mathematics</h4>
                        <h5>2020</h5>
                        <h6><b>Qualifying Finalist</b></h6>
                        <p>Accelerator «Archipelago 20.35», Russia</p>
                    </div>

                    <div class="resume-item">
                        <h4>Intelligent Infrastructure Analytics System for Waste Management</h4>
                        <h5>2019</h5>
                        <h6><b>Qualifying Finalist</b></h6>
                        <p>International Youth Competition for Innovative Projects and Startups «Future's Potential», Moscow State University, Moscow, Russia</p>
                    </div>

                    <h3 class="resume-title">Books</h3>
                    <div class="resume-item pb-0">
                        <h4>Ontological modeling of enterprises: technologies and methods</h4>
                        <h5>2019</h5>
                        <p><em>S. Gorshkov, S. Kralin, O. Mushtak, S. Gumerov, M. Miroshnichenko, A. Grebeshkov, R.
                            Shebalov</em></p>
                        <p>Ural University Publishing House, Yekaterinburg</p>
                    </div>

                    <h3 class="resume-title">Articles</h3>
                    <div class="resume-item">
                        <h4>The Problem of Biased Inference in Machine Learning</h4>
                        <h5>2019</h5>
                        <p><em>O. Mushtak</em></p>
                        <p>XXI Russian Student Scientific and Practical Conference of Nizhnevartovsk State University -
                            Article Digest</p>
                    </div>

                    <div class="resume-item">
                        <h4>Development of the Module for the Standardization of Naming for the Processing of Medical
                            Data</h4>
                        <h5>2017</h5>
                        <p><em>O. Mushtak, O. Limanovskaya, I. Kraglik</em></p>
                        <p>System integration in healthcare - Article Digest</p>
                    </div>

                    <div class="resume-item">
                        <h4>Factor Analysis of Clinical Data of Children Suffering from Tuberculosis</h4>
                        <h5>2017</h5>
                        <p><em>O. Limanovskaya, O. Mushtak, T. Tyulkova</em></p>
                        <p>System integration in healthcare - Article Digest</p>
                    </div>

                    <div class="resume-item">
                        <h4>Knowledge Elicitation: The Main Features of Communicative and Textual Methods in Engineering
                            Intelligent Systems</h4>
                        <h5>2017</h5>
                        <p><em> O. Mushtak </em></p>
                        <p>Intelligent Systems: Ontology, Epistemology, and Praxeology - Article Digest</p>
                    </div>

                    <div class="resume-item">
                        <h4>Applying Content Analysis to Evaluate Deontic Modalities in Normative Texts</h4>
                        <h5>2016</h5>
                        <p><em> O. Mushtak </em></p>
                        <p>Values and Norms in the Structure of Rational Knowledge</p>
                    </div>


                    <h3 class="resume-title">Conference Papers</h3>
                    <div class="resume-item">
                        <h4>Causality and Machine Learning in Scientific Research</h4>
                        <h5>2020</h5>
                        <p><em> O. Mushtak </em></p>
                        <p>Lomonosov 2020 International Youth Science Forum Conference Proceedings, Moscow State
                            University, Moscow, Russia</p>
                    </div>

                    <div class="resume-item">
                        <h4>Application of machine learning methods for analyzing data from the nomenclature directory of the enterprise resource planning system</h4>
                        <h5>2019</h5>
                        <p><em> O. Mushtak, O. Limanovskaya, A. Lebedev </em></p>
                        <p>American Institute of Physics Conference Proceedings, AIP Publishing, College Park, Maryland, USA</p>
                    </div>

                    <div class="resume-item">
                        <h4>Description Logics in Ontological Modeling</h4>
                        <h5>2018</h5>
                        <p><em> O. Mushtak</em></p>
                        <p>Modern Programming</p>
                    </div>

                    <div class="resume-item">
                        <h4>Humanistic artificial intelligence: emotional aspects of human-machine interaction</h4>
                        <h5>2018</h5>
                        <p><em> O. Mushtak</em></p>
                        <p>Humanization of modern philosophy and humanization of social sciences (Conference Proceedings), Ural Federal University</p>
                    </div>

                    <div class="resume-item">
                        <h4>A ‘Top-Down’ Approach to Artificial Intelligence Today: Challenges and Prospects</h4>
                        <h5>2018</h5>
                        <p><em> O. Mushtak</em></p>
                        <p>Moscow</p>
                    </div>

                    <div class="resume-item">
                        <h4>Application of the Method of Topic Modeling to Assess The Image of the City in Social Networks</h4>
                        <h5>2018</h5>
                        <p><em> O. Mushtak </em></p>
                        <p>Tomsk</p>
                    </div>

                    <h3 class="resume-title">Conference Talks</h3>
                    <div class="resume-item">
                        <h4>Epistemic Extensions of Description Logics in Ontological Modeling</h4>
                        <h5>2021</h5>
                        <p> International Interdisciplinary Conference «uAnalytiCon-2021: Contextualism, Knowledge, and Truth»</p>
                    </div>

                    <div class="resume-item">
                        <h4>Causality and Machine Learning in Scientific Research</h4>
                        <h5>2020</h5>
                        <p>Lomonosov 2020 International Youth Science Forum, Moscow State
                            University, Moscow, Russia</p>
                    </div>

                    <div class="resume-item">
                        <h4>Artificial Intelligence in the Healthcare and Responsibility Agents</h4>
                        <h5>2020</h5>
                        <p>IV International Youth Convention, Ural Federal University, Yekaterinburg, Russia</p>
                    </div>

                    <div class="resume-item">
                        <h4>Machine Learning, Neural Networks, Natural Language Recognition - Hype or Real Business Benefit?</h4>
                        <h5>2019</h5>
                        <p>Peak IT, Ural Federal University (as a speaker from JetStyle Digital Agency)</p>
                    </div>

                    <div class="resume-item">
                        <h4>Logical Probability in Bar-Hillel and Carnap's Theory of Semantic Probability</h4>
                        <h5>2019</h5>
                        <p> IV International Symposium "Austria as a Cultural Center of Europe</p>
                    </div>

                    <div class="resume-item">
                        <h4>Modal Extensions of Description Logics</h4>
                        <h5>2019</h5>
                        <p> International Interdisciplinary Conference «uAnalytiCon-2019: Identity, Individual Concepts, and Semantic Uniformity»</p>
                    </div>

                    <div class="resume-item">
                        <h4>Natural Language Recognition Issues in the Process of Building Modern Dialogue Systems</h4>
                        <h5>2018</h5>
                        <p> International Interdisciplinary Conference «uAnalytiCon-2018: Mind and Limits of Language»</p>
                    </div>

                    <div class="resume-item">
                        <h4>Topic Modeling in the Design of Intelligent Agents</h4>
                        <h5>2018</h5>
                        <p> International Forum «Cognitive Neuroscience 2018»</p>
                    </div>

                    <div class="resume-item">
                        <h4>Description Logics in Ontological Modeling</h4>
                        <h5>2017</h5>
                        <p> International Interdisciplinary Conference «uAnalytiCon-2017: Intelligence and Algorithms»</p>
                    </div>
                </div>

            </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->
{% endblock %}